{
  "Name": "Moderation",
  "ClassName": "Moderation",
  "Enabled": true,
  "ChannelBlacklist": [],
  "NickBlacklist": [],
  "Commands": [
    {
      "Name": "Founder",
      "Description": "Sets the specified nick as Founder of the channel.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "founder"
      ],
      "Arguments": [
        {
          "Name": "Nickname",
          "Description": "The nickname that is being set to Founder status.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.  If none is specified, uses the current channel.",
          "AllowedValues": [],
          "MessageTypes": [
            0
          ],
          "Required": false
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Remove Founder",
      "Description": "Removes the specified nick as Founder of the channel.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "defounder"
      ],
      "Arguments": [
        {
          "Name": "Nickname",
          "Description": "The nickname that is being removed of Founder status.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.  If none is specified, uses the current channel.",
          "AllowedValues": [],
          "MessageTypes": [
            0
          ],
          "Required": false
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "SOP",
      "Description": "Sets the specified nick as Super Operator of the channel.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "sop"
      ],
      "Arguments": [
        {
          "Name": "Nickname",
          "Description": "The nickname that is being set to Super Operator status.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.  If none is specified, uses the current channel.",
          "AllowedValues": [],
          "MessageTypes": [
            0
          ],
          "Required": false
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Remove SOP",
      "Description": "Removes the specified nick as Super Operator of the channel.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "desop"
      ],
      "Arguments": [
        {
          "Name": "Nickname",
          "Description": "The nickname that is being removed of Super Operator status.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.  If none is specified, uses the current channel.",
          "AllowedValues": [],
          "MessageTypes": [
            0
          ],
          "Required": false
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "OP",
      "Description": "Sets the specified nick as Operator of the channel.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "op"
      ],
      "Arguments": [
        {
          "Name": "Nickname",
          "Description": "The nickname that is being set to Operator status.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.  If none is specified, uses the current channel.",
          "AllowedValues": [],
          "MessageTypes": [
            0
          ],
          "Required": false
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        3,
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Remove OP",
      "Description": "Removes the specified nick as Operator of the channel.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "deop"
      ],
      "Arguments": [
        {
          "Name": "Nickname",
          "Description": "The nickname that is being removed of Operator status.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.  If none is specified, uses the current channel.",
          "AllowedValues": [],
          "MessageTypes": [
            0
          ],
          "Required": false
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        3,
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "HOP",
      "Description": "Sets the specified nick as Half Operator of the channel.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "hop"
      ],
      "Arguments": [
        {
          "Name": "Nickname",
          "Description": "The nickname that is being set to Half Operator status.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.  If none is specified, uses the current channel.",
          "AllowedValues": [],
          "MessageTypes": [
            0
          ],
          "Required": false
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        2,
        3,
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Remove HOP",
      "Description": "Removes the specified nick as Half Operator of the channel.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "dehop"
      ],
      "Arguments": [
        {
          "Name": "Nickname",
          "Description": "The nickname that is being removed of Half Operator status.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.  If none is specified, uses the current channel.",
          "AllowedValues": [],
          "MessageTypes": [
            0
          ],
          "Required": false
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        2,
        3,
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Voice",
      "Description": "Sets the specified nick as Voiced in the channel.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "voice"
      ],
      "Arguments": [
        {
          "Name": "Nickname",
          "Description": "The nickname that is being set to Voice status.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.  If none is specified, uses the current channel.",
          "AllowedValues": [],
          "MessageTypes": [
            0
          ],
          "Required": false
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        2,
        3,
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Remove Voice",
      "Description": "Removes the specified nick as Voiced of the channel.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "devoice"
      ],
      "Arguments": [
        {
          "Name": "Nickname",
          "Description": "The nickname that is being removed of Voice status.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.  If none is specified, uses the current channel.",
          "AllowedValues": [],
          "MessageTypes": [
            0
          ],
          "Required": false
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        2,
        3,
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "ASOP",
      "Description": "Modifies the ChanServ Auto Super Operators list for the specified nick.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "asop"
      ],
      "Arguments": [
        {
          "Name": "Option",
          "Description": "The option for modifying the Auto Super Operators list.",
          "AllowedValues": [
            "ADD",
            "DEL"
          ],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Nickname",
          "Description": "The nickname that is being modified in the Auto Super Operator's list.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.  If none is specified, uses the current channel.",
          "AllowedValues": [],
          "MessageTypes": [
            0
          ],
          "Required": false
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "AOP",
      "Description": "Modifies the ChanServ Auto Operators list for the specified nick.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "aop"
      ],
      "Arguments": [
        {
          "Name": "Option",
          "Description": "The option for modifying the Auto Operators list.",
          "AllowedValues": [
            "ADD",
            "DEL"
          ],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Nickname",
          "Description": "The nickname that is being modified in the Auto Operator's list.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.  If none is specified, uses the current channel.",
          "AllowedValues": [],
          "MessageTypes": [
            0
          ],
          "Required": false
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "AHOP",
      "Description": "Modifies the ChanServ Auto Half Operators list for the specified nick.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "ahop"
      ],
      "Arguments": [
        {
          "Name": "Option",
          "Description": "The option for modifying the Auto Half Operators list.",
          "AllowedValues": [
            "ADD",
            "DEL"
          ],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Nickname",
          "Description": "The nickname that is being modified in the Auto Half Operator's list.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.  If none is specified, uses the current channel.",
          "AllowedValues": [],
          "MessageTypes": [
            0
          ],
          "Required": false
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        3,
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "AVoice",
      "Description": "Modifies the ChanServ Auto Voice list for the specified nick.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "avoice"
      ],
      "Arguments": [
        {
          "Name": "Option",
          "Description": "The option for modifying the Auto Voice list.",
          "AllowedValues": [
            "ADD",
            "DEL"
          ],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Nickname",
          "Description": "The nickname that is being modified in the Auto Voice's list.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.  If none is specified, uses the current channel.",
          "AllowedValues": [],
          "MessageTypes": [
            0
          ],
          "Required": false
        },
        {
          "Name": "Channel",
          "Description": "The channel the mode is being set on.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        2,
        3,
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Mode",
      "Description": "Changes the channel mode with optional parameters.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "mode"
      ],
      "Arguments": [
        {
          "Name": "Channel",
          "Description": "The channel the modes are being changed on.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Modes",
          "Description": "The modes to be changed.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Parameters",
          "Description": "Parameters that go with the modes changed.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": false
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        3,
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Topic",
      "Description": "Changes the channel topic.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "topic"
      ],
      "Arguments": [
        {
          "Name": "Channel",
          "Description": "The channel the topic is being changed on.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Message",
          "Description": "The message for the topic.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        3,
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Invite",
      "Description": "Invites the specified nick to the channel.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "invite"
      ],
      "Arguments": [
        {
          "Name": "Nickname",
          "Description": "The nick to be invited.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Channel",
          "Description": "The channel the nick will be invited to.",
          "AllowedValues": [],
          "MessageTypes": [
            0
          ],
          "Required": false
        },
        {
          "Name": "Channel",
          "Description": "The channel the nick will be invited to.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        3,
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Ban",
      "Description": "Bans the specified nick from a channel.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "b",
        "ban"
      ],
      "Arguments": [
        {
          "Name": "Nickname",
          "Description": "The nick to be banned.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Channel",
          "Description": "The channel the nick will be banned from.",
          "AllowedValues": [],
          "MessageTypes": [
            0
          ],
          "Required": false
        },
        {
          "Name": "Channel",
          "Description": "The channel the nick will be banned from.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        2,
        3,
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "UnBan",
      "Description": "UnBans the specified nick from a channel.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "ub",
        "unban"
      ],
      "Arguments": [
        {
          "Name": "Nickname",
          "Description": "The nick to be unbanned.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Channel",
          "Description": "The channel the nick will be unbanned from.",
          "AllowedValues": [],
          "MessageTypes": [
            0
          ],
          "Required": false
        },
        {
          "Name": "Channel",
          "Description": "The channel the nick will be unbanned from.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        2,
        3,
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Kick Ban",
      "Description": "Bans and then Kicks the specified nick from a channel.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "kb",
        "kickban"
      ],
      "Arguments": [
        {
          "Name": "Nickname",
          "Description": "The nick to be kick banned.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Channel",
          "Description": "The channel the nick will be kick banned from.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Reason",
          "Description": "The reason the nick is being kick banned.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": false
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        2,
        3,
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Timed Ban",
      "Description": "Bans the specified nick from a channel for a specified amount of time.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "tb",
        "timedban"
      ],
      "Arguments": [
        {
          "Name": "Time",
          "Description": "The time for the nick to be banned in seconds.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Nickname",
          "Description": "The nick to be banned.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Channel",
          "Description": "The channel the nick will be banned from.",
          "AllowedValues": [],
          "MessageTypes": [
            0
          ],
          "Required": false
        },
        {
          "Name": "Channel",
          "Description": "The channel the nick will be banned from.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        2,
        3,
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Timed Kick Ban",
      "Description": "Bans and Kicks the specified nick from a channel for a specified amount of time.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "tkb",
        "timedkickban"
      ],
      "Arguments": [
        {
          "Name": "Time",
          "Description": "The time for the nick to be banned in seconds.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Nickname",
          "Description": "The nick to be kick banned.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Channel",
          "Description": "The channel the nick will be kick banned from.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Reason",
          "Description": "The reason the nick is being kick banned.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": false
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        2,
        3,
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Kick",
      "Description": "Kicks the specified nick from a channel.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "k",
        "kick"
      ],
      "Arguments": [
        {
          "Name": "Nickname",
          "Description": "The nick to be kicked.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Channel",
          "Description": "The channel the nick will be kicked from.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Reason",
          "Description": "The reason the nick is being kicked.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": false
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        2,
        3,
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Kick Self",
      "Description": "Kicks the caller from a channel.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "kme",
        "kickme"
      ],
      "Arguments": [
        {
          "Name": "Channel",
          "Description": "The channel the caller will be kicked from.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Reason",
          "Description": "The reason the you are being kicked.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": false
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        0,
        1,
        2,
        3,
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Clear",
      "Description": "Clears the specified channel of the specified target.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "clear"
      ],
      "Arguments": [
        {
          "Name": "Target",
          "Description": "The target to be cleared.",
          "AllowedValues": [
            "MODES",
            "BANS",
            "EXCEPTS",
            "OPS",
            "HOPS",
            "VOICES",
            "USERS",
            "NONSSL"
          ],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Channel",
          "Description": "The channel the target is being cleared from.",
          "AllowedValues": [],
          "MessageTypes": [
            0
          ],
          "Required": false
        },
        {
          "Name": "Channel",
          "Description": "The channel the target is being cleared from.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Timed De-Voice",
      "Description": "De-voices the specified nick from a channel for a specified amount of time.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "tuv",
        "TimedUnvoice"
      ],
      "Arguments": [
        {
          "Name": "Time",
          "Description": "The time for the nick to be de-voiced in seconds.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Nickname",
          "Description": "The nick to be devoiced.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Channel",
          "Description": "The channel the nick will be devoiced from.",
          "AllowedValues": [],
          "MessageTypes": [
            0
          ],
          "Required": false
        },
        {
          "Name": "Channel",
          "Description": "The channel the nick will be devoiced from.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        2,
        3,
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Roll Call",
      "Description": "Sends a message to a channel highlighting all of the nicks in it.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "rollcall"
      ],
      "Arguments": [
        {
          "Name": "Channel",
          "Description": "The channel the roll call is for.",
          "AllowedValues": [],
          "MessageTypes": [
            0
          ],
          "Required": false
        },
        {
          "Name": "Channel",
          "Description": "The channel the roll call is for.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    }
  ],
  "Options": []
}