[
  {
    "Name": "",
    "Nicknames": [],
    "Realname": "",
    "Username": "",
    "Password": "",
    "Email": "",
    "Owners": [],
    "ChannelBlacklist": [],
    "NickBlacklist": [],
    "Hosts": [],
    "Channels": [],
    "Database": {
      "Server": "",
      "Port": 0,
      "Database": "",
      "Username": "",
      "Password": ""
    },
    "ModuleLocation": "",
    "AutoConnect": true,
    "Reconnect": true,
    "AutoRegister": true,
    "CommandPrefix": "",
    "JoinDelay": 0,
    "MaxMessageLength": 0,
    "MessageSendDelay": 0
  }
]