[
  {
    "Name": "Rizon",
    "Nicknames": [
      "Combot",
      "Combot_V3"
    ],
    "Realname": "Combot",
    "Username": "Combot",
    "Password": "24121exe",
    "Email": "admin@teknik.io",
    "Owners": [
      "Uncled1023"
    ],
    "ChannelBlacklist": [
      "#/g/iggle",
      "#/g/tv",
      "#supbro",
      "#/fit/",
      "#/x/files",
      "#tuppers",
      "#/g/hetto",
      "#code"
    ],
    "NickBlacklist": [
      "KugelBlitz",
      "ChanStat",
      "NiNi",
      "Kug|Pi",
      "LoremIpsum",
      "IRCBot",
      "t4w|pi",
      "Gurren",
      "GEEEECraft",
      "_KugelBlitz_",
      "LoremIpsum",
      "Kasuto",
      "Kasuto|1",
      "Tombot",
      "Merzbot",
      "bane",
      "deskbot",
      "spoonbot",
      "Janice",
      "STumbles",
      "lykbot",
      "beelzaboot"
    ],
    "Hosts": [
      {
        "Host": "irc.rizon.net",
        "Port": 6667
      }
    ],
    "Channels": [
      {
        "Name": "#/g/technology",
        "Key": ""
      },
      {
        "Name": "#tech-mod",
        "Key": ""
      },
      {
        "Name": "#/g/bots",
        "Key": ""
      },
      {
        "Name": "#toehoef",
        "Key": ""
      },
      {
        "Name": "#bots",
        "Key": ""
      },
      {
        "Name": "#Technocracy",
        "Key": ""
      },
      {
        "Name": "#Teknik",
        "Key": ""
      },
      {
        "Name": "#/g/entlemen",
        "Key": ""
      },
      {
        "Name": "#kitties",
        "Key": ""
      },
      {
        "Name": "#minimalrice",
        "Key": ""
      },
      {
        "Name": "#pentest",
        "Key": ""
      },
      {
        "Name": "#riceshop",
        "Key": ""
      },
      {
        "Name": "#/g/programming",
        "Key": ""
      },
      {
        "Name": "#jakarta",
        "Key": ""
      },
      {
        "Name": "#/g/trivia",
        "Key": ""
      },
      {
        "Name": "#tech",
        "Key": ""
      },
      {
        "Name": "#rice",
        "Key": ""
      },
      {
        "Name": "#india.suna",
        "Key": ""
      },
      {
        "Name": "#wheat",
        "Key": ""
      }
    ],
    "Database": {
      "Server": "192.168.11.40",
      "Port": 3306,
      "Database": "Combot",
      "Username": "Combot",
      "Password": "24121exe"
    },
    "ModuleLocation": "Modules",
    "AutoConnect": true,
    "AutoRegister": false,
    "CommandPrefix": ".",
    "JoinDelay": 100,
    "MaxMessageLength": 400,
    "MessageSendDelay": 100
  }
]