{
  "Name": "Messaging",
  "ClassName": "Messaging",
  "Enabled": true,
  "ChannelBlacklist": [],
  "NickBlacklist": [],
  "Commands": [
    {
      "Name": "Message",
      "Description": "Sends a message to a nick the next time they are seen active.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "msg",
        "message"
      ],
      "Arguments": [
        {
          "Name": "Nickname",
          "Description": "The nickname you want to send a message to.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Message",
          "Description": "The message you want to send.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        0,
        1,
        2,
        3,
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    }
  ],
  "Options": [
    {
      "Name": "Max Messages",
      "Description": "The maximum number of messages a nick can receive from another nick at a time.",
      "Value": 3
    }
  ]
}