{
  "Name": "Owner Control",
  "ClassName": "Owner_Control",
  "Enabled": true,
  "ChannelBlacklist": [],
  "NickBlacklist": [],
  "Commands": [
    {
      "Name": "Change Nick",
      "Description": "Changes the bot's nickname.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "nick"
      ],
      "Arguments": [
        {
          "Name": "Nickname",
          "Description": "The nickname you want the bot to change to.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Identify",
      "Description": "Identifies with NickServ using the password saved in the configuration.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "id",
        "identify"
      ],
      "Arguments": [],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Join Channel",
      "Description": "Joins the specified channel.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "join"
      ],
      "Arguments": [
        {
          "Name": "Channel",
          "Description": "The channel you want the bot to join.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Part Channel",
      "Description": "Parts the specified channel, or the current one if one isn't specified.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "part"
      ],
      "Arguments": [
        {
          "Name": "Channel",
          "Description": "The channel you want the bot to leave.",
          "AllowedValues": [],
          "MessageTypes": [
            0
          ],
          "Required": false
        },
        {
          "Name": "Channel",
          "Description": "The channel you want the bot to leave.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Speak",
      "Description": "Sends a private message to the specified target.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "say",
        "speak"
      ],
      "Arguments": [
        {
          "Name": "Target",
          "Description": "The channel or nickname you want to private message.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Message",
          "Description": "The message you want relayed.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Action",
      "Description": "Sends a CTCP action command with message to a specified channel.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "action"
      ],
      "Arguments": [
        {
          "Name": "Channel",
          "Description": "The channel you want to display the action on.",
          "AllowedValues": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Message",
          "Description": "The action message to be displayed.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Quit",
      "Description": "Quits the specified type.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "quit"
      ],
      "Arguments": [
        {
          "Name": "Type",
          "Description": "The thing you want to quit.",
          "AllowedValues": [
            "Server",
            "Client"
          ],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Cycle",
      "Description": "Cycles the specified type.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "cycle"
      ],
      "Arguments": [
        {
          "Name": "Type",
          "Description": "The thing you want to cycle.",
          "AllowedValues": [
            "Channel",
            "Server",
            "Client"
          ],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Channel",
          "Description": "The channel you want to cycle.",
          "AllowedValues": [],
          "DependentArguments": [
            {
              "Name": "Type",
              "Values": [
                "Channel"
              ]
            }
          ],
          "MessageTypes": [
            0
          ],
          "Required": false
        },
        {
          "Name": "Channel",
          "Description": "The channel you want to cycle.",
          "AllowedValues": [],
          "DependentArguments": [
            {
              "Name": "Type",
              "Values": [
                "Channel"
              ]
            }
          ],
          "MessageTypes": [
            1,
            2
          ],
          "Required": false
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "List",
      "Description": "Sends a list of the specified type.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "list"
      ],
      "Arguments": [
        {
          "Name": "Type",
          "Description": "The thing you want to list.",
          "AllowedValues": [
            "Nicks",
            "Channels",
            "Servers",
            "Modules"
          ],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Channel",
          "Description": "The channel you want to view the nicks from.",
          "AllowedValues": [],
          "DependentArguments": [
            {
              "Name": "Type",
              "Values": [
                "Nicks"
              ]
            }
          ],
          "MessageTypes": [
            0
          ],
          "Required": false
        },
        {
          "Name": "Channel",
          "Description": "The channel you want to view the nicks from.",
          "AllowedValues": [],
          "DependentArguments": [
            {
              "Name": "Type",
              "Values": [
                "Nicks"
              ]
            }
          ],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Modules",
      "Description": "Loads or Unloads the specified module.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "module"
      ],
      "Arguments": [
        {
          "Name": "Action",
          "Description": "The action you want to perform on the module.",
          "AllowedValues": [
            "Load",
            "Unload"
          ],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Module",
          "Description": "The module you want to perform the action on.",
          "AllowedValues": [],
          "DependentArguments": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Update",
      "Description": "Updates the Server Config from the file and updates all module configs from their files.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "update"
      ],
      "Arguments": [],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    }
  ],
  "Options": []
}