{
  "Name": "Weather Information",
  "ClassName": "Weather_Information",
  "Enabled": true,
  "ChannelBlacklist": [],
  "NickBlacklist": [],
  "Commands": [
    {
      "Name": "Weather",
      "Description": "Gets the current weather information for a given location.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "w",
        "weather"
      ],
      "Arguments": [
        {
          "Name": "Location",
          "Description": "The location that the weather information is for.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        0,
        1,
        2,
        3,
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Forecast",
      "Description": "Gets the weather forecast for a given location for at most 6 days.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "f",
        "forecast"
      ],
      "Arguments": [
        {
          "Name": "Location",
          "Description": "The location that the weather forecast is for.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Days",
          "Description": "The number of days of forecast information.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": false
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        0,
        1,
        2,
        3,
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    }
  ],
  "Options": []
}