{
  "Name": "Version",
  "ClassName": "Version",
  "Enabled": true,
  "ChannelBlacklist": [],
  "NickBlacklist": [],
  "Commands": [
    {
      "Name": "Version Check",
      "Description": "Sends a version CTCP request and displays the response.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "version",
        "ver"
      ],
      "Arguments": [
        {
          "Name": "Nickname",
          "Description": "The nickname you want to query for version information.",
          "AllowedValues": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        0,
        1,
        2,
        3,
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    }
  ],
  "Options": []
}