{
  "Name": "Configuration",
  "ClassName": "Configuration",
  "Enabled": true,
  "ChannelBlacklist": [],
  "NickBlacklist": [],
  "Commands": [
    {
      "Name": "Config",
      "Description": "Allows you access to the configuration",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "config"
      ],
      "Arguments": [
        {
          "Name": "Type",
          "Description": "The type of config you want to interact with.",
          "AllowedValues": [
            "Command",
            "Module",
            "Server"
          ],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Command",
          "Description": "The command you want to interact with.",
          "AllowedValues": [],
          "DependentArguments": [
            {
              "Name": "Type",
              "Values": [
                "Command"
              ]
            }
          ],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Module",
          "Description": "The module you want to interact with.",
          "AllowedValues": [],
          "DependentArguments": [
            {
              "Name": "Type",
              "Values": [
                "Module"
              ]
            }
          ],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Action",
          "Description": "The action you want to perform on the config.",
          "AllowedValues": [
            "View",
            "Edit"
          ],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Name",
          "Description": "The name of the variable you want to interact with.",
          "AllowedValues": [],
          "DependentArguments": [
            {
              "Name": "Action",
              "Values": [
                "View"
              ]
            }
          ],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": false
        },
        {
          "Name": "Name",
          "Description": "The name of the variable you want to interact with.",
          "AllowedValues": [],
          "DependentArguments": [
            {
              "Name": "Action",
              "Values": [
                "Edit"
              ]
            }
          ],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Value",
          "Description": "The new value for the defined variable.",
          "AllowedValues": [],
          "DependentArguments": [
            {
              "Name": "Action",
              "Values": [
                "Edit"
              ]
            }
          ],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    }
  ],
  "Options": []
}