{
  "Name": "Configuration",
  "ClassName": "Configuration",
  "Enabled": true,
  "ChannelBlacklist": [],
  "NickBlacklist": [],
  "Commands": [
    {
      "Name": "Command Configuration",
      "Description": "Allows you access to a command's configuration.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "command"
      ],
      "Arguments": [
        {
          "Name": "Command",
          "Description": "The command you want to interact with.",
          "AllowedValues": [],
          "DependentArguments": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Parameter",
          "Description": "The command parameter you want to interact with.",
          "AllowedValues": [
            "Name",
            "Description",
            "Enabled",
            "ChannelBlacklist",
            "NickBlacklist",
            "Triggers",
            "Arguments",
            "AllowedMessageTypes",
            "AllowedAccess",
            "ShowHelp",
            "SpamCheck"
          ],
          "DependentArguments": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Action",
          "Description": "The action you want to perform on the config.",
          "AllowedValues": [
            "Edit",
            "View"
          ],
          "DependentArguments": [
            {
              "Name": "Parameter",
              "Values": [
                "Name",
                "Description",
                "Enabled",
                "ShowHelp",
                "SpamCheck"
              ]
            }
          ],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Action",
          "Description": "The action you want to perform on the config.",
          "AllowedValues": [
            "Add",
            "Del",
            "View"
          ],
          "DependentArguments": [
            {
              "Name": "Parameter",
              "Values": [
                "ChannelBlacklist",
                "NickBlacklist",
                "Triggers",
                "Arguments",
                "AllowedMessageTypes",
                "AllowedAccess"
              ]
            }
          ],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Value",
          "Description": "The value for the parameter you want to modify.",
          "AllowedValues": [],
          "DependentArguments": [
            {
              "Name": "Action",
              "Values": [
                "Add",
                "Edit",
                "Del"
              ]
            }
          ],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    },
    {
      "Name": "Module Configuration",
      "Description": "Allows you access to a module's configuration.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "module"
      ],
      "Arguments": [
        {
          "Name": "Module",
          "Description": "The module you want to interact with.",
          "AllowedValues": [],
          "DependentArguments": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Parameter",
          "Description": "The module parameter you want to interact with.",
          "AllowedValues": [
            "Name",
            "ClassName",
            "Enabled",
            "ChannelBlacklist",
            "NickBlacklist",
            "Commands",
            "Options"
          ],
          "DependentArguments": [],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Action",
          "Description": "The action you want to perform on the config.",
          "AllowedValues": [
            "Edit",
            "View"
          ],
          "DependentArguments": [
            {
              "Name": "Parameter",
              "Values": [
                "Name",
                "ClassName",
                "Enabled"
              ]
            }
          ],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Action",
          "Description": "The action you want to perform on the config.",
          "AllowedValues": [
            "Add",
            "Del",
            "View"
          ],
          "DependentArguments": [
            {
              "Name": "Parameter",
              "Values": [
                "ChannelBlacklist",
                "NickBlacklist",
                "Commands",
                "Options"
              ]
            }
          ],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Value",
          "Description": "The value for the parameter you want to modify.",
          "AllowedValues": [],
          "DependentArguments": [
            {
              "Name": "Action",
              "Values": [
                "Add",
                "Edit",
                "Del"
              ]
            }
          ],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    }
  ],
  "Options": []
}