{
  "Name": "Channel Rules",
  "ClassName": "Channel_Rules",
  "Enabled": true,
  "ChannelBlacklist": [],
  "NickBlacklist": [],
  "Commands": [
    {
      "Name": "Rules",
      "Description": "Displays the rules for a given channel.",
      "Enabled": true,
      "ChannelBlacklist": [],
      "NickBlacklist": [],
      "Triggers": [
        "rules"
      ],
      "Arguments": [
        {
          "Name": "Channel",
          "Description": "The channel the rules are for.",
          "AllowedValues": [],
          "DependentArguments": [],
          "MessageTypes": [
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Action",
          "Description": "What you want to do with the rules.",
          "AllowedValues": [
            "Add",
            "Edit",
            "Del"
          ],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": false
        },
        {
          "Name": "ID",
          "Description": "The ID of the rule you want to edit or delete.",
          "AllowedValues": [],
          "DependentArguments": [
            {
              "Name": "Action",
              "Values": [
                "Edit",
                "Del"
              ]
            }
          ],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        },
        {
          "Name": "Rule",
          "Description": "The rule you want to add or set.",
          "AllowedValues": [],
          "DependentArguments": [
            {
              "Name": "Action",
              "Values": [
                "Add",
                "Edit"
              ]
            }
          ],
          "MessageTypes": [
            0,
            1,
            2
          ],
          "Required": true
        }
      ],
      "AllowedMessageTypes": [
        0,
        1,
        2
      ],
      "AllowedAccess": [
        0,
        1,
        2,
        3,
        4,
        5,
        6
      ],
      "ShowHelp": true,
      "SpamCheck": true
    }
  ],
  "Options": []
}