{
  "Name": "Spam Control",
  "ClassName": "Spam_Control",
  "Enabled": true,
  "ChannelBlacklist": [],
  "NickBlacklist": [],
  "Commands": [],
  "Options": [
    {
      "Name": "Max Messages",
      "Description": "The maximum number of messages allowed per time alotted.",
      "Value": 5
    },
    {
      "Name": "Max Highlights",
      "Description": "The maximum number of highlights allowed in a set period of time.",
      "Value": 5
    },
    {
      "Name": "Time Threshold",
      "Description": "The minimum time allowed for a set of messages in milliseconds.",
      "Value": 5000
    }
  ]
}